body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181b1e;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    color: white;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.title {
    font-size: 45px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text {
    font-size: 18px;
    font-weight: bold;
}

.button {
    background-color: #304FFE;
    color: white;
    border: none;
    outline: none;
    padding: 20px;
    width: 140px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}

.textInput {
    width: 80px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
}
